@{
    ViewData["Title"] = "Home Page";
}
<div class="main">

    <form>
<div class="text-center">
    <h1 class="display-4">Delete Product</h1>

    Enter ProductId:<input type="number" name="pid"/>

    <button type="submit">Delete</button> 
   </form>
</div>

</div>
