@{
    ViewData["Title"] = "Update";
}
<div class="main">

    <form>
<div class="text-center">
    <h1 class="display-4">Insert Product</h1>


    Enter ProductId:<input type="number" name="pid"/><br><br>
    Enter ProductQty To Update:<input type="number" name="pqty"/><br><br>

   

    <button type="submit">Update</button> 

   </form>
</div>

</div>
