@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1>Login Page</h1>
    <form method="GET">
   <input type="text" name="unm" />
   <br>
   <input type="password" name="pwd"/>

   <input type="submit" value="Login"/>


    </form>
</div>
