@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">

<h1>Register Page</h1>
    <form method = "POST">
      
 Enter UserName: <input type="text" name="uname" required />
   <br>
  Enter Password:  <input type="text" name="password" required/>

<br>
   Enter Email: <input type="text" name="emailId" required />

   <input type="submit" value="Submit"/>
     
    </form>
    
</div>
