@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

<h1 class="lead">Welcome To Our HR Management System(HMS) WebApplication</h1>
<p class="lead">Here are our Features</p>

<p class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">

<a href="/employee/getallemp" >SeeEmployee</a>
</p>
<a href="/employee/addemp" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">InsertEmployee</a>
</div>
