@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color: rgb(98, 160, 214);">TimeSheet Management System</h1>
    <table border="5px" style="width: 100%;">
        <tr>
            <th>Employee</th>
            <th>Timesheets</th>
        </tr>
        <tr>
            <td>Employee 1</td>
            <td><button><a href="/home/GetSheets">Timesheets</a></button></td>
        </tr>
        <tr>
            <td>Employee 2</td>
            <td><button><a href="/home/GetSheets">Timesheets</a></button></td>
        </tr>
        <tr>
            <td>Employee 3</td>
            <td><button><a href="/home/GetSheets">Timesheets</a></button></td>
        </tr>
    </table>
</div>
