@{
    ViewData["Title"] = "Welcome";
}
<h1 style="text-align: center;">Thank You</h1>
<h3 style="text-align: center;">Your Data is Validated..... Welcome</h3>
<button><a href="/home/GetSheets" class="btn btn-success">Enter</a></button>