

<div>

    <form method="get" action="/employee/insert">
     <input class="form-control" type="text" name="fname" placeholder="Enter a name"/>
     <input class="form-control" type="text" name="mail" placeholder="Enter a email"/>
     <input class="form-control" type="text" name="no" placeholder="Enter a phone"/>
  <button class="btn btn-primary">AddEmp</button>
    </form>
</div>